.myChatbots {
  padding: 32px 60px;

  .favorites {
    position: relative;
    margin: 0 0 80px;

    &.list {
      .title {
        margin: 0 0 64px;
      }
    }

    .title {
      margin: 0 0 14px;
      font-size: 32px;
      font-weight: 700;
      color: #627d9a;
    }

    > hr {
      position: absolute;
      bottom: -41px;
  }
  }

  .items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;

    &.list {
      grid-template-columns: 1fr;
      row-gap: 15px;
    }

    .item {
      position: relative;
      padding: 36px 0 42px;
      display: grid;
      align-items: center;
      justify-items: center;
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 0 10px 0 #e7ecf0;

      .star {
        position: absolute;
        top: 12px;
        left: 12px;
        padding: 0;
        border: none;
        cursor: pointer;
      }

      .image {
        width: 58px;
        height: 58px;
        margin: 0 0 18px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
      }

      .name {
        font-size: 16px;
        font-weight: 700;
        color: #142b37;
        text-transform: capitalize;
      }

      .info {
        font-size: 12px;
        color: #84909f;
        text-transform: capitalize;
      }
    }
  }

  .noContent {
    display: grid;
    row-gap: 20px;
    justify-items: start;

    > p {
      font-size: 24px;
      color: #627d9a;
    }

    > button {
      padding: 0;
      border: none;
      color: #56616e;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .add {
    position: fixed;
    right: 30px;
    bottom: 15px;
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #2cc3d5;
    box-shadow: 0 5px 10px 0 #e7ecf0;
    cursor: not-allowed;
    z-index: 20;
  }
}
